doctype html
html
head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
body
    h1.text-center Check Guest Info
        a(href="index.html").btn.btn-default HOME
    .container
        .row.form-inline
            select.form-control#houseName
                option Select the Property
                option forest
                option webster
                option oasis
                option aviato
                option brannon
                option berry
    script(src="scripts/guest-info.js")
