doctype html
head
    //responsive stuff
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="HandheldFriendly" content="true")
    
    //styling
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="fullcalendar/fullcalendar.min.css")

    //JS
    script(src="lib/jquery.min.js")
    script(src="lib/jquery-ui.custom.min.js")
    script(src="lib/moment.min.js")
    script(src="fullcalendar/fullcalendar.min.js")
    script(src="https://cdn.firebase.com/js/client/2.3.0/firebase.js")
body
    a(href="views/add-guest.html").btn.btn-default Add Guest
    a(href="views/manage-guest.html").btn.btn-default Manage Guest
    a(href="views/range-check.html").btn.btn-default Check Range
    a(href="views/guestList.html").btn.btn-default Guest List
    a(href="views/house-snapshot.html").btn.btn-default Daily Total Snapshot
    a(href="views/checkins.html").btn.btn-default Checkins
    a(href="views/checkouts.html").btn.btn-default Checkouts
    a(href="views/guestFlow.html").btn.btn-default Guest Flow
    .btn
        select.form-control#houseName
            option Select a House
            option aviato
            option berry
            option forest
            option roselane
            option santa-monica
            option webster
            option kings
            option casterly-rock
            option webster-girls-room
            option roselane-coed
    #calendar
    script(src="scripts/main.js")
