octype html
head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="fullcalendar/fullcalendar.min.css")
    script(src="lib/jquery.min.js")
    script(src="lib/jquery-ui.custom.min.js")
    script(src="lib/moment.min.js")
    script(src="fullcalendar/fullcalendar.min.js")
    script(src="https://cdn.firebase.com/js/client/2.3.0/firebase.js")
body
    a(href="views/add-guest.html").btn.btn-default Add Guest
    a(href="views/change-guest.html").btn.btn-default Change Guest
    a(href="views/guest-info.html").btn.btn-default Check Guest Info
    a(href="views/range-check.html").btn.btn-default Check Range
    .btn
        select.form-control#houseName
            option Select a House
            option aviato
            option berry
            option forest
            option roselane
            option santa-monica
            option webster
    #calendar
    script(src="scripts/main.js")
