doctype html
html
head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
body
    h1.text-center Check Availability
        a(href="index.html").btn.btn-default HOME
    .container
        select.form-control
            option Select a Property
            option forest
            option webster
            option oasis
        input(type="date", placeholder="Start Date")#startDate
        input(type="date", placeholder="End Date")#endDate
        button(onclick="onThingyClick()").btn.btn-primary Check Date Range
    script(src="scripts/range-check.js")

