doctype html
html
head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.firebase.com/js/client/2.2.6/firebase.js")
body
    h1.text-center Adding Guests
        a(href="../index.html").btn.btn-default HOME
    .container
        .row
            .col-md-4
            .col-md-4
                select.form-control#houseName
                    option Select a House
                    option berry
                    option forest
                    option webster
                    option kings
                    option casterly-rock
                    option webster-girls-room
            .col-md-4
        br
        .row.form-inline
            .col-md-4
            .col-md-4
                input(type="text", placeholder="Name").form-control#guestName
                input(type="text", placeholder="Last Name").form-control#guestLastName
            .col-md-4
        br
        .row.form-inline
            .col-md-5
            .col-md-2
                .row
                    label Start Date
                    input(type="date", placeholder="start date dd-mm-yy").form-control#start
                br
                .row
                    label End Date
                    input(type="date", placeholder="start date dd-mm-yy").form-control#end
            .col-md-5
        br
        .row.form-inline
            .col-md-4
            .col-md-4
                input(type="text", placeholder="email").form-control#email
                select.form-control#paymentStatus
                    option payment status 
                    option paid
                    option owes 1 month
            .col-md-4
        br
        .row
            .col-md-5
            .col-md-2
                button.btn.btn-primary#add Add Guest
            .col-md-5
    script(src="../scripts/add-guest.js")
