doctype html
html
head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
body
    h1.text-center Guest List
        a(href="../index.html").btn.btn-default HOME
    .container
        .row#aviato
            h2 Aviato
        .row#berry
            h2 Berry
        .row#casterly-rock
            h2 Casterly-Rock
        .row#forest
            h2 Forest
        .row#kings
            h2 Kings
        .row#roselane
            h2 Roselane
        .row#roselane-coed
            h2 Roselane Coed
        .row#santa-monica
            h2 Santa-Monica
        .row#webster
            h2 Webster
        .row#webster-girls-room
            h2 Webster Girls Room
    script(src="../scripts/guestList.js")
