doctype html
html
head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
body
    h1.text-center Guest List
        a(href="../index.html").btn.btn-default HOME
    .container
        .row
            .col-md-4
            .col-md-4
                label Direction
                select.form-control#direction
                    option Select Direction
                    option Current
                    option Future
            .col-md-4
        .row
            .row#berry
                h2 Berry
            .row#casterly-rock
                h2 Casterly-Rock
            .row#forest
                h2 Forest
            .row#kings
                h2 Kings
            .row#webster
                h2 Webster
            .row#webster-girls-room
                h2 Webster Girls Room
            .row#webster-private
                h2 Webster Private Room
    script(src="../scripts/guestList.js")
