doctype html
html
head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(src='//code.jquery.com/jquery-1.11.3.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
body
    h1.text-center Daily Total Snapshot
        a(href="../index.html").btn.btn-default HOME
    .container
        .row.col-md-6#berry
            h2 Berry
        .row.col-md-6#casterly-rock
            h2 Casterly Rock
        .row.col-md-6#forest
            h2 Forest
        .row.col-md-6#kings
            h2 Kings
        .row.col-md-6#webster
            h2 Webster
        .row.col-md-6#webster-girls-room
            h2 Webster Girls Room
    script(src="../scripts/house-snapshot.js")
